<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <title>Jee Wern's Coding Adventure</title>
</head>

<body>
<!--Header-->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="mainPage.html" class="w3-bar-item w3-button">My Coding Adventure</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="resumePage.html" class="w3-bar-item w3-button">Resume</a>
      <a href="aboutMePage.html" class="w3-bar-item w3-button">About Me</a>
    </div>
  </div>
</div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">
  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>About Me</b></h1>
  </div>

  <!-- Food -->
  <div class="w3-container" id="services" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-teal"><b>Food</b></h1>
    <p>One thing about me is that I love to eat. From young, I would love to try new cuisine.</p>
  </div>
</div>
</body>
</html>